<tr >
    <th>test1</th>
    <td>
        Votes: <span class="badge bg-secondary"></span>
    </td>
    <td style="width: 250px;">
       
            <div class="alert alert-success">
                Thanks for voting! <i class="fa fa-check-circle"></i>
            </div>
       
            <button
                type="button"
                class="btn btn-secondary"
                data-action="live#action"
                data-action-name="vote(direction=up)"
            >
                <i class="fa fa-arrow-up"></i>
            </button>
            <button
                type="button"
                class="btn btn-secondary"
                data-action="live#action"
                data-action-name="vote(direction=down)"
            >
                <i class="fa fa-arrow-down"></i>
            </button>

    </td>
</tr>